* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font: lighter 15px sans-serif;
}

header, section, aside, hgroup, footer, article, nav {
    display: block;
}

body {
    text-align: center;
}

.agrupar {
    margin: 5px;
    background: rgb(31, 30, 30);
    color: #5293d4;
    border: 1px solid black;
}

.laminas {
    background: rgb(19, 156, 190);
    padding: 20px;
    color: #e6cd7b;
}

.laminas h1 {
    text-align: left;
}

.menu {
    background: rgb(19, 156, 190);
    padding: 20px;
    color: #e6cd7b;
    text-align: left;
}

.menu li {
    text-align: left;
    list-style: none;
    font-size: 20px;
    display: inline-block;
    padding: 5px;
}

article {
    background: rgb(31, 39, 31);
    padding: 20px;
    margin-bottom: 1%;
}

article footer, address {
    text-align: right;
}

time {
    color: gray;
}

.seccion {
    margin: 5px 2%;
    width: 75%;
    float: left;
}

.columna {
    width: 15%;
    background: rgb(31, 39, 31);
    margin: 5px auto;
    padding: 15px;
    float: left;
}

.pie {
    background: rgb(19, 156, 190);
    padding: 20px;
    color: #e6cd7b;
    clear: both;
}

/*
border: 1px solid rgb(223, 14, 14);
*/